body {
background-color: #F4F1EA;
color: #333;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 500px;
margin: 0;
}
button {
background-color: #f39446;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}
.passo {
display: none;
}
.passo.ativo {
display:block;
}
main {
text-align: center;
max-width: 70%;
}
img {
max-width: 70%;
}
